*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  // <body>
  --font-family: system-ui, Roboto, Helvetica, Arial, sans-serif;

  // <body> <html>
  --bg-color: #cbd3d8;

  // <.block>
  --block-bg-color: #ffffff;
  --block-text-color: #131314;
  --block-border-color: "";
  --block-border-width: 0;
  --block-border-style: solid;

  // <.shadow>
  --block-shadow-color: rgba(53, 154, 194, 0.5);

  // <a> <.url>
  --url-text-color: #08588d;
  --url-text-color--hover: #0790a8;

  // <button> <input[type=submit]> <input[type=reset]> <.btn>
  --btn-bg-color: #08588d;
  --btn-bg-color--hover: #0790a8;
  --btn-text-color: #ffffff;
  --btn-text-color--hover: #ffffff;

  // <ul> <li>
  --list-symbol: "›";
  --list-image: "";
}

html {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
}

body {
  background-color: var(--bg-color);
  flex: 1;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-attachment: fixed;
  font-family: var(--font-family);
}

a {
  text-decoration: none;
  color: var(--url-text-color);
}

a:hover {
  text-decoration: underline;
  color: var(--url-text-color--hover);
}

hr {
  border: none;
  margin: 0;
  height: 1px;
  background-color: var(--text-color);
  width: 100%;
}

.container {
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.block {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--block-bg-color);
  color: var(--block-text-color);
  gap: 1rem;
}

.shadow {
  box-shadow: 0.75rem 0.75rem var(--block-shadow-color);
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

.list-symbol {
  margin-left: 1rem;
  padding-left: 0;
  list-style: none;
}

.list-symbol li {
  padding-left: 1rem;
  text-indent: -1rem;
}

.list-symbol li::before {
  content: var(--list-symbol);
  padding-right: 1rem;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}

.btn,
button,
input[type="submit"],
input[type="reset"] {
  display: inline-block;
  text-decoration: none;
  background-color: var(--btn-bg-color);
  color: var(--btn-text-color);
  padding: 0.375rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn,
button,
input[type="submit"],
input[type="reset"]:hover {
  background-color: var(--btn-bg-color--hover);
  color: var(--btn-text-color--hover);
}

.btn a:hover {
  color: var(--btn-text-color-hover);
  background-color: var(--btn-bg-color-hover);
}

@media(min-width: 600px) {
  .container {
    width: 80%;
    min-width: 35rem;
    max-width: 42rem;
  }
}